.container {
    border: 5px solid #ffcc5c;
    display: flex;
  }
  
  .container > div {
    flex: 1;
    /* AKA flex-grow, flex-shrink, flex-basis */
  }

  .container > .search {
    flex: 2;
    /* adjust size of a specific item in the container
    /* removing flex: 1 from container > div will make only this item flex
       and other items reposition around it */
  }